<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>

<body>
    <a href="/">home</a>
    <a href="/login">Log in</a>
    <a href="/signup">Sign Up</a>
     <form action="/logout" method="post">
        <button type="submit">Log out</button>
    </form>
    <p>username: {{username}}</p>
    {{{body}}}

</body>

</html>