<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

</head>

<body>
    <form action="/api/reset-pass" method="post">
    <input type="hidden" name="token" value="{{{token}}}">
    <label>password<input type="password" name="password"></label>
    <button type="submit">password</button>
</form>

</body>

</html>