<form action="/api/reset-pass" method="post">
    <input type="hidden" name="token" value="{{{token}}}">
    <label>password<input type="password" name="password"></label>
    <button type="submit">password</button>
</form>